.container {
    max-width: 144rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
}
.section-banner {
    border-bottom: .1rem solid #2F2E2E;
    position: relative;
    overflow: hidden;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    @media (max-width: $r_desk) {
        background-image: url('../images/banner-min.png');
        background-position: center center;
        background-size: cover;
    }
    .container {
        @media (max-width: $r_desk) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.banner {
    max-width: 56.2rem;
    padding-top: 12.2rem;
    padding-bottom: 20.3rem;
    background-color: $black;
    box-shadow: 100px 0px 100px #000000;
    @media (max-width: $r_desk_hd) {
        padding-top: 7rem;
        padding-bottom: 12rem;
    }
    @media (max-width: $r_desk) {
        max-width: 100%;
        background-color: transparent;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    @media (max-width: $r_tab) {
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    &__title {
        font-family: 'Marcellus', serif;
        line-height: 7.5rem;
        font-size: 8rem;
        @media (max-width: $r_tab) {
            font-size: 6rem;
            line-height: 1.1;
        }
        @media (max-width: $r_mob_600) {
            font-size: 4rem;
        }
    }
    &__text {
        color: #C2C2C2;
        font-size: 1.8rem;
        line-height: 1.6;
        @media (max-width: $r_tab) {
            font-size: 1.6rem;
        }
        @media (max-width: $r_mob_600) {
            font-size: 1.4rem;
        }
    }
    &-info {
        font-weight: 800;
        margin-bottom: 2.9rem ;
        &__year {
            margin-right: 1.8rem;
        }
        &__age {
            margin-right: 1.8rem;
            position: relative;
            width: 6rem;
            text-align: center;
            display: inline-block;
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 2.4rem;
                background-image: url('../images/age.svg');
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: calc(50% - 1.2rem);
                left: 0;
                right: 0;
            }
        }
        &__time {
            margin-right: 6.1rem;
            @media (max-width: $r_mob_600) {
                margin-right: 2.3rem;
            }
        }
        &__rating {
            position: relative;
          &::after {
              content: '';
              display: block;
              width: 1.6rem;
              height: 1.6rem;
              margin-left: 1rem;
              position: absolute;
              right: -2.6rem;
              top: calc(50% - .8rem );
              background-image: url('../images/star.svg');
        }}
    }
    &-control {
        margin-top: 3.1rem;
        @media (max-width: $r_mob_400) {
            display: flex;
            flex-direction: column;
        }
        &__btn {
            background-color: transparent;
            border: none;
            border-radius: 10rem;
            padding: 1.5rem 3rem;
            font-family: 'Mulish', sans-serif;
            font-weight: 800;
            cursor: pointer;
            
         }
        &__btn-main {
            background: $bg-gradient;
            // background: $bg-gradient-safe;
            color: $white;
            position: relative;
            padding-left: 6rem;
            margin-right: 3rem;
            box-shadow: 0px 4px 50px rgba($bg-gradient-safe, 0.5);
            transition: 0.2s ease box-shadow;
            @media (max-width: $r_tab) {
                margin-right: 1.5rem;
            }
            @media (max-width: $r_mob_400) {
                margin-right: 0;
                margin-bottom: 2rem;
                padding-left: 3rem;
            }
            &:hover {
                box-shadow: 0px 0px 0px rgba($bg-gradient-safe, 0.5);
            }
            &::after {
                content: '';
                display: inline-block;
                width: 1.4rem;
                height: 1.8rem;
                background-image: url('../images/play.svg');
                position: absolute;
                left: 3rem;
                top: calc(50% - .9rem);
                @media (max-width: $r_mob_400) {
                    display: none;
                }
            }
        }
        &__btn-more {
            background-color: $white;
            color: #323232;
            transition: .2s ease background-color, .2s ease color;
            &:hover {
               color: $white;
               background-color: transparent;
               
               
            }
        }
    }
}
